---
const socials = [
  {
    name: 'Pinterest',
    url: 'https://www.pinterest.com/cintiaaa_romero',
    icon: 'i-mdi-pinterest',
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/cintiaaaromero',
    icon: 'i-mdi-linkedin',
  },
  {
    name: 'Instagram',
    url: 'https://instagram.com/cintiaaaromero',
    icon: 'i-mdi-instagram',
  }
];
---

<section class='md:hidden'>
  <h2 class='hidden'>Socials section</h2>
  <ul class='flex justify-between'>
    {
      socials.map((item) => (
        <li class='bg-white px-4 py-2 text-violet-600 border-black border-2 rounded card-shadow'>
          <a href={item.url} target='_blank' title={`Go to ${item.name}`}>
            <div class:list={[item.icon, 'p-6']} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
