---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('work').then((collection) =>
  collection.reverse()
);

const projects = posts.filter((post) => post.data.tags.includes("project"));
const talks = posts.filter((post) => post.data.tags.includes("talk"));
const articles = posts.filter((post) => post.data.tags.includes("article"));
---

<Layout
  title='My work'
  description='Cintia Romero | On this page you can find a collection of my works'
  pageTitle='My work'
>
  <section class='bg-green py-10 px-6'>
    <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
      Projects
    </h2>
    <BlogList posts={projects} />
  </section>
  <section class='bg-blue py-10 px-6'>
    <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
      Talks
    </h2>
    <BlogList posts={talks} />
  </section>
  <section class='bg-pink py-10 px-6'>
    <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
      Articles
    </h2>
    <BlogList posts={articles} />
  </section>
</Layout>
