---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <slot />
  <a href='/work/' title='Back to my work'>&larr; Back to my work</a>
</article>
